<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<nav class="navbar bg-light">
  <div class="container-fluid">
   <a class="navbar-brand pharmasage-title" href="#">PharmaSage</a>
    <div class="d-flex justify-content-end">
      <button class="btn btn-success ph-logout-btn" type="submit"> Logout </button>
    </div>
  </div>
</nav>


<div class="pharmacy-container">
 <div class="ph-list"> 
 <div class="ph-search-bar">
    <%= form_with url: pharmacies_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type your medicine"
          %>
          <button class="btn btn-outline-success ph-search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <% end %>
    </div>
        <div class="button-list">
        <div class="two-btns">
            <button class="button open">Open</button>
            <button class="button on-call">On-call</button>
            </div>
        </div>
    <div>
    <div class="pharmacy-list-container scroll" style="max-height: 100vh; overflow-y: auto;">
     <% @availabilities.each do |availability| %>
     <a href="<%= pharmacy_path(availability.pharmacy) %>" class="card-product-link">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= availability.pharmacy.name %></h2>
          <p><%= availability.pharmacy.address %></p>
          <p class="phone-num"><%= availability.pharmacy.phone_number %></p>
        </div>
      </div>
    </a>
  <% end %>
   


  </div>
</div>


   </div>
        <div
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="map-design">
     </div>
</div>