<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<nav class="navbar bg-light">
  <div class="container-fluid">
   <%# <a class="navbar-brand" href="/"> <img src="https://shorturl.at/iIJZ5" alt="Pharmacy-Avatar"> </a> %>
      <a href="/"><img src="https://i.ibb.co/3k8FJ7y/green-logo-2-1.png" alt="green-logo-2-1" border="0" style="width: 208px;"></a>
      <div class="d-flex justify-content-end">
      <%# <button class="btn btn-success ph-logout-btn" type="submit"> Logout </button> %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-success ph-logout-btn" %>
    </div>
  </div>
</nav>


<div class="pharmacy-container">
 <div class="ph-list"> 
 <div class="ph-search-bar">
    <%= form_with url: pharmacies_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type your medicine"
          %>
          <button class="btn btn-outline-success ph-search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <% end %>
    </div>
        <div class="button-list">
        <div class="two-btns">
           <form action="/pharmacies" method="GET" style="font-weight:800; font-family:sans-serif" data-controller="filter">
            <input type="radio" name="rdo" id="open" value="open"   data-action="click->filter#submit" <%= @open ? "checked" : "" %> />
            <input type="radio" name="rdo" id="all" value="" data-action="click->filter#submit" <%= @open ? "" : "checked" %> />
         <div class="switch">
          <label for="open">Open</label>
          <label for="all">All</label>
       <span></span>
     </div>
</form>
            </div>
        </div>
    <div>
    <div class="pharmacy-list-container scroll" style="max-height: 100vh; overflow-y: auto;">
     <% @pharmacies.each do |p| %>
     <a href="<%= pharmacy_path(p) %>" class="card-product-link">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= p.name %></h2>
          <p><%= p.address %></p>
          <p class="phone-num"><%= p.phone_number %></p>
        </div>
      </div>
    </a>
  <% end %>
   


  </div>
</div>


   </div>
        <div
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="map-design">
     </div>
</div>