<nav class="navbar navbar-expand-lg navbar-light bg-light ph-nav">
  <%= link_to root_path, class: "navbar-brand pharmasage-title" do %>
  <%= image_tag("https://i.ibb.co/3k8FJ7y/green-logo-2-1.png", alt: "PharmaSage", style: "width: 205px;") %>
   <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  </div>
  <div class="navbar-text ml-auto">
    <%# <button class="btn btn-success ph-logout-btn" style="margin-right: 10px; margin-bottom: 10px;" type="submit">Logout</button> %>
<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-success ph-logout-btn", style: "margin-right: 10px; margin-bottom: 10px;" %>
  </div>
</nav>
<div class="ph-selected-container ph-selected-bg">
 <div class="main-card d-flex justify-content-between" style="padding-right: 40px;">
 <div class="first-card d-flex justify-content-center" style="width: 45%;">
  <div class="ph-selected-card">
     <div class="card d-flex justify-content-center pharmacy-selected-card">
        <div class="ph-selected-img">
            <img src="https://shorturl.at/iIJZ5" alt="Pharmacy-Avatar">
            </div>
        <div class="ph-card-info">
            <h2 class="ph-card-name"> <%= @pharmacy.name %></h2>
            <p class="ph-card-address"><i class="fa-solid fa-map-pin"></i>  <%= @pharmacy.address %></p>
            <p class="phone-num"><%= @pharmacy.phone_number %></p>
           </div>

          </div>

            <a href="<%= pharmacy_chatroom_path(@pharmacy,Chatroom.first.id) %>" class="ph-chat-button" style="width: 109.5%"><i class="fa-regular fa-comment-dots"></i> Chat with the Pharmacist</a>
   </div>
  </div>

    <div class="second-card" style="display: inline-block; width: 45%; vertical-align: top; margin-top:30px;">
      <div class="opening-hours-info" style="margin-left: 0;">
  <table>
  <tr>
    <th colspan="3">⏰ The Pharmacy's Opening Hours ⏰</th>
  </tr>
  <tr class="table-primary" class="table-primary">
    <td class="table-primary"><b>Monday</b></td>
    <td class="table-primary"><b><span style="color:#228B22">09:00 to 12:30</span></b></td>
    <td class="table-primary"><b><span style="color:#228B22">15:00 to 19:30</span></b></td>
  </tr>
  <tr class="table-primary">
    <td><b>Tuesday</b></td>
    <td><b><span style="color:#228B22">09:00 to 12:30</span></b></td>
    <td><b><span style="color:#228B22">15:00 to 19:30</span></b></td>
  </tr>
  <tr class="table-primary">
    <td><b>Wednesday</b></td>
    <td><b><span style="color:#228B22">09:00 to 12:30</span></b></td>
    <td><b><span style="color:#228B22">15:00 to 19:30</span></b></td>
  </tr>
  <tr class="table-primary">
    <td><b>Thursday</b></td>
    <td><b><span style="color:#228B22">09:00 to 12:30</span></b></td>
    <td><b><span style="color:#228B22">15:00 to 19:30</span></b></td>
  </tr>
  <tr class="table-primary">
    <td class="table-success"><b>Friday</b></td>
    <td class="table-success"><b><span style="color:#228B22">09:00 to 12:30</span></b></td>
    <td class="table-success"><b><span style="color:#228B22">15:00 to 19:30</span></b></td>
  </tr>
  <tr>
    <td><b>Saturday</b></td>
    <td><b><span style="color:#228B22">09:00 to 13:00</span></b></td>
    <td></td>
  </tr>
  <tr>
    <td><b>Sunday</b></td>
    <td><span style="color:red"><b>Closed</b></span></td>
    <td></td>
  </tr>
</table>

       </div>
       <h2> <b> On-call Schedule 24H</b> </h2>
       <span style="color:#b30000" style="font-weight:bold"><b>From the 20th to the 27th of Sep, 2023</b></span> </p>
     </div>
  </div>

<div class="second-card-reviews" style="width: 100%;">
  <div class="card2">
  <h1 class="reviews-heading"><b>📝 Pharmacy Reviews:</b></h1>
  <%= link_to "Add a review", new_pharmacy_review_path(@pharmacy), class: "btn btn-primary review-btn" %>
    <div class="ph-card-info">
      <% @pharmacy.reviews.each do |r| %>
    <div class="card-reviews">
     <img src="https://i.ibb.co/9n0KNDW/Profile-Male.png" alt="cat-avatar" class="review-image">
      <div class="review-details">
       <h2 class="name-text"><%= r.name %></h2>
        <div class="card-content" style="display: flex; flex-direction: column;">
         <p class="left-align"><%= r.comment %></p>
       <div style="display: flex; justify-content: space-between; align-items: center;">
        <p class="left-align"><span style="color:#0047AB"><b><%= r.post_date %></b></span></p>
        <p class="right-align"><b>Review :</b><b><% (r.rating.to_i).times do %>
          ⭐
        <% end %>
        </b></p>
     </div>
  </div>
</div>
     </div>

      <% end %>
        </div>
    </div>
</div>
</div>
